        </main>
        <hr class="mainend">
        <footer class="footer-class">
            <p>
                Copyright &copy; <%= new Date().getFullYear() %> My Book Notes. All rights reserved.
            </p>
        </footer>
    </body>
</html>