        </main>
        <hr>
        <footer>
            <p>
                Copyright &copy; <%= new Date().getFullYear() %> My Book Notes. All rights reserved.
            </p>
        </footer>
    </body>
</html>