<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/style.css">

    <link rel="icon" href="/images/Logo.svg" type="image/svg+xml" sizes="28x28">
    <title>My Book Notes - Keep Your Notes Forever</title>
    <meta name="description" content="My Book NOtes helps you create, organize, and store your notes permanently with a clean and simple interface." />
</head>
<body>
    <header id="headname">
        <h1><a href="/" title="Books Collection">Books Collection</a></h1>
    </header>
    <main>