<%- include('partials/header.ejs'); -%>

    <div class="form-container">
        <h3>Contact Me</h1>
        <form action="/contact" method="POST">
            <div class="input-group">
                <input type="text" name="name" placeholder=" " required />
                <label>Name</label>
            </div>
            <div class="input-group">
                <input type="email" name="email" placeholder=" " required />
                <label>Email</label>
            </div>
            <div class="input-group">
                <input type="tel" name="phone" placeholder=" " />
                <label>Phone Number</label>
            </div>
            <div class="input-group">
                <textarea name="message" placeholder=" " required></textarea>
                <label>Your Message</label>
            </div>
            <button type="submit">SUBMIT</button>
        </form>
    </div>

    <% if (success) { %>
        <script>alert("Thanks for contacting me! I'll get back to you soon.");</script>
    <% } %>
    <% if (error) { %>
        <script>alert("Error in contacting to admin. Try again!");</script>
    <% } %>


<%- include('partials/footer.ejs'); -%>