<%- include('partials/header.ejs') %>



<h2>Add Books in Collection</h2>

<div class="form-container">
    <h3>Fill a Information</h3>
    <form action="/add" method="POST">
      <input name="title" type="text" class="feedback-input" placeholder="Title" required />
      <input name="author" type="text" class="feedback-input" placeholder="Author" required />
      <input name="isbn" type="text" class="feedback-input" placeholder="ISBN"required/>
      <input name="rating" type="number" min="1" max="10" class="feedback-input" placeholder="Rating"required/>
      <input name="date" type="date" class="feedback-input" placeholder="Date Read"required/>
      <textarea name="summary" class="feedback-input" placeholder="Summary"></textarea>
      <input type="submit" value="SUBMIT" />
    </form>
</div>


<%- include('partials/footer.ejs') %>
